body {
    background-color: skyblue;
    text-align: center;

}


.inputgroup {
    margin-top: 25px;


}

button {
    margin-top: 30px;

}

h1 {
    color: red;
}

.containers {
    background-color: white;
    text-align: center;
    height: 400px;
    display: inline-block;
    padding: 25px;
    margin: 100px;
    border: 10px solid purple;
}

.inputgroup .error
{
    color: red;
} 


.inputgroup .success
{
    color: green;
} 
